<div class="navigation-buttons">
  <% if @previous_page.present? %>
    <%= link_to "Previous page", pokemons_path(offset: @offset.to_i - 20) %>
  <% end %>
  <% if @next_page.present? %>
    <%= link_to "Next page", pokemons_path(offset: @offset.to_i + 20)%>
  <% end %>
</div>

<div class= "card-grid">
  <%@pokemons.each do |pokemon|%>
    <div class="card-product">
      <%=image_tag(pokemon.image) %>
      <div class="card-product-infos">
        <div class="card-product-column">
          <h2><%= pokemon.name.capitalize %></h2>
          <p>id: <%= pokemon.id %></p>
          <p>types:
            <% types_names = [] %>
            <%= pokemon.types.map { |type| type.name }.join(', ')%></p>
        </div>
        <div class="card-product-column button-div">
          <%= link_to "find more", pokemon_path(name: pokemon.name), class: "btn card-product-button" %>
        </div>
      </div>
    </div>
  <%end%>
</div>

<div class="navigation-buttons">
  <% if @previous_page.present? %>
    <%= link_to "Previous page", pokemons_path(offset: @offset.to_i - 20) %>
  <% end %>
  <% if @next_page.present? %>
    <%= link_to "Next page", pokemons_path(offset: @offset.to_i + 20)%>
  <% end %>
</div>
