<h1>Hello</h1>

<div>
  <% if @previous_page.present? %>
    <%= link_to "Previous page", pokemons_path(offset: @offset.to_i - 20) %>
  <% end %>
  <% if @next_page.present? %>
    <%= link_to "Next page", pokemons_path(offset: @offset.to_i + 20)%>
  <% end %>
  <ol>
    <%@pokemons.each do |pokemon|%>
      <li>name: <%= pokemon.name %></li>
        <ul>
          <li>id: <%= pokemon.id %></li>
          <li>types:
              <% pokemon.types.each do |type| %>
                <ul>
                  <li><%= type.name %></li>
                </ul>
              <%end%>
          </li>
        </ul>
        <%= link_to pokemon_path(name: pokemon.name) do %>
          <button>find more</button>
        <% end%>
    <%end%>
  </ol>
</div>
