<div class="navigation-buttons">
  <%= link_to "Go back to list", pokemons_path %>
</div>

<div class="show">
  <% if @pokemon.name.blank? %>
    <h1>No pokemon found with name <%= params[:name] %>!</h1>
  <% else %>
    <h1><%= @pokemon.name.capitalize %></h1>
    <div style="display: flex; justify-content: center">
      <div class="show-card">
        <h3 class="show-card-title">
          Main attributes
        </h3>
        <div class="show-card-attributes">
          <%=image_tag(@pokemon.image) %>
          <ul>
            <li>id: <%= @pokemon.id %> </li>
            <li>height: <%= @pokemon.height %></li>
            <li>weight: <%= @pokemon.weight %></li>
            <li>default in Pokeworld: <%= @pokemon.is_default %></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="show-grid">
      <% @pokemon.types.each do |type| %>
        <div class="show-card">
          <h3 class="show-card-title"><%= type.name.capitalize %></h3>
          <div class="show-card-attributes">
            <div class="show-list-attributes">
              <h4>Damage to:</h4>
              <% damage_to = type.damage_to %>
              <ul>
                <% damage_to.each do |k, v| %>
                  <li><%= "#{k.humanize}: #{v.join(', ')}" %></li>
                <% end %>
              </ul>
            </div>
            <div class="show-list-attributes">
              <h4>Damage from:</h4>
              <% damage_from = type.damage_from %>
              <ul>
                <% damage_from.each do |k, v| %>
                  <% v = v.blank? ? "no pokemon" : v.join(', ') %>
                  <li><%= "#{k.humanize}: #{v}" %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  <% end %>
</div>
