<% if @pokemon.name.blank? %>
  <h1>no pokemon found!</h1>
<% else %>
  <h1><%= @pokemon.name%></h1>
  <%=image_tag(@pokemon.image) %>
  <h2>Attributes</h2>
  <ul>
    <li>id: <%= @pokemon.id %> </li>
    <li>height: <%= @pokemon.height %></li>
    <li>weight: <%= @pokemon.weight %></li>
    <li>types:
      <% @pokemon.types.each do |type| %>
        <ul>
          <li>type name: <%= type.name %>:
            <ul>
              <li>damages to:
                <% damage_to = type.damage_to %>
                <ol>
                  <li>double damage to:
                    <% double_damage_to = damage_to['double_damage_to'] %>
                    <%= double_damage_to.empty? ? 'no pokemon type' : double_damage_to.join(', ') %>
                  </li>
                  <li>half damage to:
                    <% half_damage_to = damage_to['half_damage_to'] %>
                    <%= half_damage_to.empty? ? 'no pokemon type' : half_damage_to.join(', ')%>
                  </li>
                  <li>no damage to:
                    <% no_damage_to = damage_to['no_damage_to'] %>
                    <%= no_damage_to.empty? ? 'no pokemon type' : no_damage_to.join(', ')%>
                </ol>
              </li>
              <li>damages from:
                <% damage_from = type.damage_from %>
                <ol>
                  <li>double damage from:
                    <% double_damage_from = damage_from['double_damage_from'] %>
                    <%= double_damage_from.empty? ? 'no pokemon type' : double_damage_from.join(', ') %>
                  </li>
                  <li>half damage from:
                    <% half_damage_from = damage_from['half_damage_from'] %>
                    <%= half_damage_from.empty? ? 'no pokemon type' : half_damage_from.join(', ')%>
                  </li>
                  <li>no damage from:
                    <% no_damage_from = damage_from['no_damage_from'] %>
                    <%= no_damage_from.empty? ? 'no pokemon type' : no_damage_from.join(', ')%>
                </ol>
              </li>
            </ul>
          </li>
          <li>type's moves: <%= type.moves.empty? ? 'no moves found' : type.moves.join(', ') %></li>
        </ul>
      <% end %>
    </li>
  </ul>
<% end %>
